* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  background: pink;
}

main {
  padding: 2em;
  max-width: 720px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  padding: 0.2em 0.3em;
  border-radius: 0.2em;
  border: none;
  display: inline-block;
  cursor: pointer;
  background: #fff;
}

input[type=text] {
  padding: 0.2em 0.3em;
  border-radius: 0.2em;
  border: none;
}

textarea {
  width: 100%;
  min-height: 50vh;
  padding: 1em;
  margin: 1em 0;
}

.doc-id {
  font-size: 0.85em;
  text-align: center;
  color: rgba(0,0,0,0.5);
}
.doc-id span {
  border-bottom: 2px solid #7070ff;
}

.doc-title {
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em 0 0 0;
}
